<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <% if current_user %>
      <a class="navbar-brand" href="/links">ThoughtBox</a>
    <% else %>
      <a class="navbar-brand" href="/">ThoughtBox</a>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li>
          <a href="/logout", data-method="delete">logout</a>
        </li>
        <li>
          <a href="/links" >links</a>
        </li>
      <% else %>
        <li>
          <a href="/login">login</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
